body {
  margin: 0;
  /* font-family: 'Ms Madi', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Qwitcher Grypen', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
}